*{
  padding:0;
  margin:0;
  list-style: none;
}
header{
  background: red;
  width: 100%;
  overflow-x:auto ;
}
.clearfix>li{
  float: left;
  height:40px;
  line-height:40px;
  color: #fff;
  list-style: none;
  margin-left: 10px;
}

.todo-item ul li{
  width: 50%;
  color: #000;
  float: left;
  height:180px;
  margin-top:1%;
  overflow: hidden;
}
.todo-item ul li img{
  width: 100%;
}
